{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <style>
        html,body
        {
            width:100%;
            height:100%;
            margin:0px;
            padding: 0px;
            overflow-x:hidden;
        }
    </style>
    <title>{% block header %}Home{% endblock %}</title>
    <link rel="icon" href="{% static 'images/all-img/favicon.png' %}">

    {% block css %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap-v4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/index-3.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/reponsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/main.css' %}">
    {% endblock %}
</head>
<body>

<!--header-part-->
<div class="topnav">
    <header class="bg-color">
        <div class="container top-bar">
            <ul class="top-content">
{#                <li><i class="fas fa-envelope icon"></i>RoadLinersTransport@example.com</li>#}
                <li><i class="fas fa-map-marker-alt icon"></i>60 PAYA LEBAR ROAD #08 - 55, PAYA LEBAR SQUARE, SINGAPORE</li>
            </ul>
        </div>
    </header>
</div>

<!-- mobile-sidemenu -->
<div class="row nav-menu">
    <div class="container mob-sidebar">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="crbnMenu">
                <ul class="menu">
                    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">Services</a></li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Request a Free Quote</a></li>
                </ul>
            </div>
        </div>
        <span class="side-btn" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <a class="navbar-brand pb-2" href="index.html"> <img src="{% static 'images/all-img/logo.png' %}" alt="logo_img"> </a>
    </div>
</div>
<!-- mobile-sidemenu -->
<!-- desktop-menu -->
<div class="row first-menu navbar-dark bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-sm offcanvas-desktop">
            <div class="col-md-3 ">
                <a class="navbar-brand pb-2" href="index-3.html"> <img src="{% static 'images/all-img/logo.png' %}" alt="logo_img"> </a>
            </div>
            <div class="col-md-9 collapse navbar-collapse">
                <ul class="navbar-nav">
                   <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">Services</a></li>

                    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="contact.html">Request a Free Quote</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- desktop-menu -->
<!-- home-slider -->

{% block content %}

{% endblock %}

<footer>
    <div class="container">
        <!--footer-widgets-->
        <div class="footer-widgets container animate fadeInDownLarge" data-anim-type="fadeInDownLarge"
             data-anim-delay="400">
            <div class="row">
                <div class="widgets-col">
                    <a class="navbar-brand pb-2" "> <img src="{% static 'images/all-img/logo.png' %}" alt="logo_img"
                                                                         class="img-fluid"> </a>
                    <p> Clipper Logistics PTE. LTD, consectetur adipiscing elit, sed do eiusmod tempor illo inventore
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor illo
                        inventore </p>


{#                    <p>#}
{#                        <i class="fas fa-phone-square"></i> <span>Free Call: 111 428 5581</span>#}
{#                    </p>#}
{#                    <p>#}
{#                        <i class="far fa-envelope"></i> <span> Drop us a message: info@ciazz.com </span>#}
{#                    </p>#}
                </div>



                <div style="margin-left: 20%" class="widgets-col">
                    <h3> Services </h3>
                    <ul class="widget_links">
                        <li>
                            <a href="{% url 'home' %}"> Home </a>
                        </li>
                        <li>
                            <a href="#"> About Us </a>
                        </li>
                        <li>
                            <a href="#"> Services </a>
                        </li>
                        <li>
                            <a href="{% url 'contact' %}">Contact </a>
                        </li>
                    </ul>
                </div>

                <div class="widgets-col">
                    <h3> Contact </h3>
                    <p>
                        <i class="fas fa-map"></i> <span>60 PAYA LEBAR ROAD #08 - 55, PAYA LEBAR SQUARE, SINGAPORE</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--//footer-widgets-->
<div class="row coppy-right">
    <div class="container">
        <div class="col-md-4">
            <p> Clipper Logistics PTE. LTD</p>
        </div>
        <div class="col-md-4">
            <ul class="social-icons">
                <li style="color: white">A member of KHEMKA group</li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="footer-menu">
                <li><a href="#">All rights are reserved</a></li>
            </ul>
        </div>
        <!--./coppy-right-->
    </div>
</div>
<!--./footer-->
<!-- Return to Top -->
<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-alt-circle-up h4"></i></a>
<!-- Return to Top -->
{% block loader %}
 <!--page-loader-->
        <div id="page-anim-preloader">
            <div class="page_preloader-inner  content-center">
                <div class="loading-window">
                    <div class="car">
                        <div class="strike"></div>
                        <div class="strike strike2"></div>
                        <div class="strike strike3"></div>
                        <div class="strike strike4"></div>
                        <div class="strike strike5"></div>
                        <div class="car-detail spoiler"></div>
                        <div class="car-detail back"></div>
                        <div class="car-detail center"></div>
                        <div class="car-detail center1"></div>
                        <div class="car-detail front"></div>
                        <div class="car-detail wheel"></div>
                        <div class="car-detail wheel wheel2"></div>
                    </div>
                    <div class="text">
                        <span>Loading</span><span class = "dots">...</span>
                    </div>
                </div>
            </div>
        </div>
<!--JS bootstrap-->
{% endblock %}
<script src="{% static 'js/jquery-v3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap-v4.1.3.min.js' %}"></script>
<script src="{% static 'js/animations.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/swiper.min.js' %}"></script>
<script src="{% static 'js/counter.js' %}"></script>
<script src="{% static 'js/crbnMenu.js' %}"></script>
<script src="{% static 'js/custom-script.js' %}"></script>
<script src="{% static 'js/js/script.js' %}"></script>
<script src="{% static 'js/js/slick.min.js' %}"></script>
</body>

</html>